@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Signika', sans-serif;
}

img#perfil{
 max-height: 70px;
}

img#mini-logo{
   max-width: 20px;
}

img#logo{
   max-width: 40%;
   
}

.text-color{
   color: #213c49;
}

iframe{
   border-radius: 22px;
   padding: 15px;
}

