@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Signika', sans-serif;
}

body{
   background: rgb(16,113,255);
   background: linear-gradient(0deg, rgba(16,113,255,1) 0%, rgba(1,211,255,1) 100%);
 
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}

.container{
   
}

.cartao{
   background-color: #fff;
   padding: 30px;
   border-radius: 50px;
}

img#perfil{
 max-height: 70px;
}

img#mini-logo{
   max-width: 20px;
}

img#logo{
    width: 170px;
}

.text-color{
   color: #213c49;
}

iframe{
   border-radius: 22px;
   padding: 15px;
}

.btn-outline-purple{
   border-color: #6f42c1;
   color: #6f42c1; 
}

.btn-outline-purple:hover{
   background-color: #6f42c1;
   color: #fff; 
}