@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

* {
   padding: 0;
   margin: 0;
   /* font-family: 'Josefin Sans', sans-serif; */
   font-family: 'Francois One', sans-serif;
}

h1 {
   font-size: 40pt;
}

a{
   cursor: pointer;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
   
}

a .card:hover{
   background-color: #010b26 !important;
   color: #fff !important;
}


.card {
   min-height: 150px !important;
}

img{
 max-height: 200px;
}
