@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Signika', sans-serif;

}

a{
   cursor: pointer;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
   
}

a .card:hover{
   background-color: #010b26 !important;
   color: #fff !important;
}

.card-body:hover {
   color: #fff !important;
}


.card {
   min-height: 150px !important;
}

img#perfil{
 max-height: 70px;
}

img#logo{
   max-width: 20px;
}

img#miniLogo{
   width: 40%;
}

.textos{
   color: #213c49;
}

iframe{
   border-radius: 10px;
}